<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <form action="/register" method="POST" id="registerForm">
        <label for="email">Email:</label>
        <input type="text" name="email" required /><br /><br />
        <label for="password">Password:</label>
        <input type="password" name="password" required /><br /><br />
        <button type="submit">Register</button>
      </form>
      <p id="errorMessage"></p>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
    <script>
      document.getElementById("registerForm").onsubmit = function (event) {
        event.preventDefault();
        fetch("/register", {
          method: "POST",
          body: new FormData(event.target),
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/login";
            } else {
              return response.text();
            }
          })
          .then((text) => {
            if (text) {
              document.getElementById("errorMessage").innerText = text;
            }
          });
      };
    </script>
  </body>
</html>
